
/*************************** Fonts ***************************/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700');


/*************************** General style ***************************/

body, html {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  margin: 1.4em 0 0;
}


/*************************** Header ***************************/

.header {
  text-align: center;
  margin: 0 1.5em;
}

.my-logo {
  margin-bottom: 1em;
  width: 70px;
}


/************ Navigation ************/

.nav-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #000;
  padding: 1em 0;
  font-size: 1em;
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.nav-link:hover {
  border-bottom: 4px solid #000;
  padding: 0 4px 8px;
}


/*************************** About Page ***************************/

.about-section {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.my-portrait {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.intro-heading {
  margin: 0 0.8em;
  text-align: center;
  font-style: italic; /*choose a font that has normal and italic styles to use in here*/
}

.about-paragraph {
  margin: 0 1em;
  line-height: 1.4;
}

.change-size {
  font-size: 0.8em;
  font-style: normal;
}


/*************************** Work Page ***************************/

.work-section {
  margin: 1.5em 0 0.5em;
}

.project-1, .project-2 {
  width: 100%;
  border: 1px solid #DFE1E1;
}

.project-1 {
  margin-bottom: -3px;
}


/*************************** Contact Page ***************************/

.contact {
  margin: 1.5em 1em 1em;
  line-height: 1.4;
}

.contact-heading {
  margin-bottom: 0;
}

.contact-heading + p {
  margin-top: 0.4em;
}

.icon {
  width: 36px;
}

.text-icon {
  vertical-align: 12px;
  padding-left: 4px;
}

.social-media {
  margin: auto;
  padding-top: 1em;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icon {
  width: 36px;
}

/*************************** Footer ***************************/

.footer {
  display: block;
  padding: 0.7em 0;
  text-align: center;
  background-color: #000;
  color: #fff;
}

/*************************** Media Queries ***************************/

@media (min-width: 360px) {
  .container {
    margin: 1.8em 0 0;
  }
  .header {
    margin: 0 2em;
  }
  .intro-heading {
    margin: 0 1.5em;
  }
  .about-paragraph {
    margin: 0 2em;
  }
}

@media (min-width: 480px) {
  .container {
    margin: 2em 0 0;
  }
  .header {
    margin: 0 4em;
  }
  .nav-link {
    padding: 1em 0.5em;
  }
  .about-section {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .my-portrait {
    margin-bottom: 2em;
  }
  .intro-heading {
    margin: 0 1.6em;
    font-size: 1.999em;
  }
  .about-paragraph {
    margin: 0 4em;
  }
}
