
/*************************** General style ***************************/

body, html {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Roboto', Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  margin: 1.4em 0 0;
}


/*************************** Header ***************************/

.header {
  text-align: center;
  margin: 0 1.5em;
}

.my-logo {
  margin-bottom: 1em;
  width: 70px;
}


/************ Navigation ************/

.nav-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #000;
  padding: 1em 0;
  font-size: 1em;
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.nav-link:hover {
  border-bottom: 4px solid #000;
  padding: 0 4px 8px;
}


/*************************** About Page ***************************/

.about-section {
  margin: 1.5em 0;
}

.my-portrait {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.intro-heading {
  margin: 0 0.8em;
  font-family: 'Lato', Verdana, sans-serif;
  text-align: center;
  font-style: italic;
}

.change-size {
  font-family: 'Lato', Verdana, sans-serif;
  font-size: 0.8em;
  font-style: normal;
}

.about-paragraph {
  margin: 0 1em;
  line-height: 1.4;
  font-size: 0.9em;
}



/*************************** Work Page ***************************/

.work-section {
  margin: 1.5em 0 0.5em;
}

.project-1, .project-2 {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #DFE1E1;
}

.project-1 {
  margin-bottom: 0.6em;
}


/*************************** Contact Page ***************************/

.contact {
  margin: 1.5em 1em 1em;
  line-height: 1.4;
  font-size: 0.9em;
}

.contact-heading {
  margin-bottom: 0;
  font-family: 'Lato', Verdana, sans-serif;
  font-size: 1.414em;
  letter-spacing: 0.04em;
}

.contact-heading + p {
  margin-top: 0.4em;
}

.icon, .social-icon {
  width: 36px;
}

.icon:hover {
  background-color: rgb(255, 93, 93);
  background-color: rgba(255, 93, 93, 0.7);
  border-radius: 49%;
}

.text-icon {
  padding-left: 4px;
  vertical-align: 12px;
  font-style: italic;
  font-size: 1.1em;
}

.social-media {
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.social-link {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  font-style: italic;
}

/*.social-link:focus {
  color: skyblue;
  outline:none;
}*/ /* how to focus on social-link and social-icon at the same time? */

.social-link:hover {
  color: #FF5D5D;
}

.social-text {
  padding-left: 4px;
  vertical-align: 12px;
}

.social-icon:hover {
  background-color: rgb(255, 93, 93);
  background-color: rgba(255, 93, 93, 0.7);
  border-radius: 49%;
}


/*************************** Footer ***************************/

.footer {
  display: block;
  padding: 0.7em 0;
  text-align: center;
  background-color: #000;
  color: #fff;
}


/*************************** Media Queries ***************************/

@media (min-width: 360px) {
  .container {
    margin: 1.8em 0 0;
  }
  .header {
    margin: 0 2.5em;
  }
  .nav-ul {
    justify-content: space-between;
  }
  .intro-heading {
    margin: 0 1.5em;
  }
  .about-paragraph {
    margin: 0 2em;
  }
  .contact {
    margin: 2.5em 2em 1em;
  }
  .social-media {
    flex-flow: column nowrap;
  }
}

@media (min-width: 480px) {
  .container {
    margin: 2em 0 0;
  }
  .header {
    margin: 0 4em;
  }
  .nav-ul {
    margin: auto;
    width: 350px;
  }
  .nav-link {
    padding: 1em 0.5em;
  }
  .about-section {
    margin: 2em 0;
  }
  .my-portrait {
    margin-bottom: 2em;
  }
  .intro-heading {
    margin: 0 1.6em;
    font-size: 1.999em;
  }
  .about-paragraph {
    margin: 0 auto;
    width: 373px;
  }
  .contact {
    margin: 3em 5em 1em;
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 3em 0 4em;
  }
  .my-logo {
    margin-bottom: 0;
    width: 74px;
  }
  .nav-ul {
    padding: 1.3em 0;
    width: auto;
  }
  .nav-link {
    padding: 1.2em;
    font-size: 1.11em;
    letter-spacing: 0.07em;
  }
  .about-section {
    margin: 2em 4.5em 2.5em;
  }
  .my-portrait {
    margin-bottom: 2.5em;
  }
  .intro-heading {
    margin: 0 1.8em;
    font-size: 2.6em;
  }
  .about-paragraph {
    width: 485px;
    font-size: 1em;
    line-height: 1.6;
  }
  .work-section {
    margin: 1.5em 8em;
  }
  .project-1, .project-2 {
    border-radius: 4px;
  }
  .project-1 {
    margin-bottom: 1em;
  }
  .contact {
    margin: 3em 5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.6;
    font-size: 1em;
  }
  .contact-info {
    width: 50%;
  }
  .contact-heading {
    margin-bottom: 0.6em;
    font-size: 1.414em;
  }
  .email {
    padding-top: 4px;
  }
  .icon, .social-icon {
    width: 40px;
  }
  .social-media {
    margin: 4.5em 0 0;
    padding-top: 0;
    padding-left: 1em;
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .header {
    margin: 0 3em 0 4.4em;
  }
  .nav-link {
    padding: 1.4em;
  }
  .about-section {
    margin: 3em 2em 2.5em 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .my-portrait {
    width: 52%;
  }
  .about-container {
    margin: 0 auto 1.2em;
    padding-left: 12px;
    align-self: center;
  }
  .intro-heading {
    margin: 0;
  }
  .about-paragraph {
    width: 430px;
  }
  .work-section {
    margin: 3em 0;
    text-align: center;
  }
  .project-1, .project-2 {
    display: inline-block;
    width: 46%;
  }
  .project-1 {
    margin-bottom: 0;
    margin-right: 1em;
  }
  .contact {
    justify-content: space-around;
  }
  .contact-info {
    width: 50%;
  }
  .contact-heading {
    margin-bottom: 1em;
  }
  .social-media {
    margin: 4.5em 0 0;
    padding-top: 0;
    padding-left: 4.5em;
    width: 40%;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media (min-width: 1224px) {
  .container {
    margin: 2.5em 0 0;
  }
  .header {
    margin: 0 4em 0 5.4em;
  }
  .nav-link {
    padding: 1.6em;
  }
  .my-portrait {
    width: 53%;
  }
  .work-section {
    margin: 3em 0;
  }
  .project-1, .project-2 {
    width: 45%;
  }
  .contact-info {
    width: 40%;
  }
  .social-media {
    padding-left: 6em;
    width: 40%;
  }
}
@media (min-width: 1600px) {
  .container {
    margin: 3em 0 0;
  }
  .header {
    margin: 0 5em 0 6.4em;
  }
  .my-logo {
    width: 76px;
  }
  .nav-link {
    padding: 1.6em;
    font-size: 1.15em;
    letter-spacing: 0.08em;
  }
  .intro-heading {
    font-size: 2.8em;
  }
  .about-paragraph {
    width: 476px;
    line-height: 1.6;
    font-size: 1.2em;
  }
  .project-1, .project-2 {
    width: 43%;
  }
  .project-1 {
    margin-right: 2em;
  }
  .contact-info {
    width: 510px;
  }
  .social-media {
    margin: 4em 0 0;
    padding-left: 8em;
    width: 40%;
  }

}
